<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>

<h2><%= pluralize @restaurant.reviews.size, "review" %></h2>
<div>
  <% if @restaurant.reviews.blank? %>
    <p>Be the first to write a review!</p>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>

<%= link_to "Back", restaurants_path %>
