<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>

<h2><%= pluralize @restaurant.reviews.size, "review" %></h2>
<div data-controller="insert-in-list">
  <div data-insert-in-list-target="items">
    <% if @restaurant.reviews.blank? %>
      <p>Be the first to write a review!</p>
    <% else %>
      <% @restaurant.reviews.each do |review| %>
        <%= render "reviews/review", review: review  %>
      <% end %>
    <% end %>
  </div>

  <%= render "reviews/form", restaurant: @restaurant, review: @review %>
</div>
<%= link_to "Back", restaurants_path %>
